body{
    background-image: url("https://media.istockphoto.com/photos/book-background-blurred-open-book-on-a-table-in-a-university-or-in-picture-id1318403385?k=20&m=1318403385&s=612x612&w=0&h=YLKZh3K5D0EzfD2Ik3_tqior8SVEljveTUJ21OSePbk=");
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}


.navbar-dark .navbar-toggler-icon{
    background-image: url("https://img.icons8.com/doodle/48/000000/menu.png") !important;
}

.navbar-brand{
color: rgb(167, 52, 28);
font-weight:bolder;
font-size: 30px !important;
font-family:cursive
}

.nav-link {
    color: rgb(244, 57, 5);
    font-weight: 600;
    font-size: 18px;
}

:hover.nav-link{
    font-size: 20px;
    color: rgb(165, 67, 42);
}

:hover.navbar-brand{
    color: rgb(167, 78, 78);
}





.card-group{
    margin-top: 15px;
}


.card{
    max-width: 250px;
    width: 250px;
    margin-left: 45px;
    margin-right: 45px;
    max-height: max-content;
    margin-top: 50px;
    background-color: rgb(227, 219, 210);
}
.card-img-top{
    margin-top: 8px;
    height: 350px;
    max-height: 350px;
}
.accordion{
    width: 80%;
    margin-top: 50px;
}

.searchBar{
    margin-top: 60px;
}

@media (max-width: 540px){
    .card-group{
align-items: center;
    }

    .card{
        height: max-content;
        max-height:max-content !important;
        max-width:500px;
        width: 360px;
        margin: 60px !important;
    }
}

@media (min-width:540px) and (max-width: 780px){
    .card{
height:500px ;        
max-height: max-content !important;
max-width: 500px;
margin: 10px;
    }

    .card-img-top{
        height: 290px;
        max-height: 290px;
    }
}

@media (min-width:780px) and (max-width:980px){
.card-img-top{
    height: 230px;
    max-height: 230px;
}

}